@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Inconsolata:400,700);
@import "varaibles";

html,body
{
	margin:0;
	padding:0;
	height:100%;
	font-family: "Droid Sans";
	color: $general_text_color;
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f7f7f7 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

a
{
	text-decoration: none;
	color: $general_text_color;
	&:hover
	{
		color: darken($general_text_color, 5%);
	}

	&:active
	{
		color: darken($general_text_color, 100%);
	}
}
h1,h2,h3,h4,h5
{
	font-family: "Inconsolata";
	font-weight: 700;
	font-size: 1.9em;
}