@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Inconsolata:400,700);
@import "varaibles";

html,body
{
	margin:0;
	padding:0;
	height:100%;
	font-family: "Droid Sans";
	color: $general_text_color;
}

a
{
	text-decoration: none;
	color: $general_text_color;
	&:hover
	{
		color: darken($general_text_color, 5%);
	}

	&:active
	{
		color: darken($general_text_color, 100%);
	}
}
h1,h2,h3,h4,h5
{
	font-family: "Inconsolata";
	font-weight: 700;
	font-size: 1.9em;
}