@import "varaibles";
#banner
{
	border-bottom: 1px solid $border_color;
	padding: 30px;
	position: relative;
	text-align: center;
	h1
	{
		font-size: 2.5em;
		position: relative;
		display: inline-block;
		text-align: left;
		padding: 0;
		margin: 0;
	}
}